body {
    background-color: rgb(21, 20, 20);
    color: white;
    font-family: sans-serif;

}

h1 {
    text-align: center;
}

p {
    font-family: cursive;
    text-align: center;
    font-size: 2rem;
}

.buttonArea {
    text-align: center;
    margin-top: 30px;

}