body {
    background-color: rgb(21, 20, 20);
    color: white;
    font-family: "Source Code Pro", serif;

}

h1 {
    text-align: center;
}

img {
    pointer-events: none;
}

p {
    font-family: cursive;
    text-align: center;
    font-size: 2rem;
}

.buttonArea {
    text-align: center;
    margin-top: 35px;
}

.imageContainer {
    position: relative;
}

.fish-text {
    visibility: hidden;
}

.fishImage {
    opacity: 0;
    display: block; /* Images are inline by default, change to block */
    margin-left: auto; /* Distribute available left margin automatically */
    margin-right: auto; /* Distribute available right margin automatically */
    /* Optional: Define a width if the image is wider than desired */
    width: 50%;
}